body{
    margin: 0;
    padding: 0;


}

.row{
    margin-bottom: 15px;
    display: flex;
}
.dashboard-container{
    flex: 1;
    flex-flow: row;
    height: 400px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    
    font-size:30px;

}
div{
background-color: rgb(211, 180, 180);
margin-right: auto;
margin-left: auto;

}
button{
    padding: 10px;
    margin: 10px;
}
